/* services.css */

.projects {
    background-color: #000000;
    padding: 4em 0;
    text-align: center;
    height: 500px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    color: white;
    

 

  }
  .project1{
    align-items: center;
    margin-right: 0px;
    justify-content: space-around;


  }
  .project1 h2 , .projects h2{
    text-decoration: none;
    color: white;

  }
  
  .img1{
    height: auto;
    max-width: 500px;
    border-radius: 10px;
 
    
  }
  .img2{
    height: auto;
    max-width: 500px;
    border-radius: 10px;
    
  }

  .projectheading{
    background-color: black;
    margin: 0;
    color: white;
    text-align: center;
    font-size: 100px;
  }
  
  @media (min-width: 100px) and (max-width: 400px) {
    .projectheading {
      
      font-size: 50px;
      
    }
    
    .projects {
      
      padding: 4em 0;
      text-align: center;
      height: 700px;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      color: white;
      margin-bottom: 50px;



    }
    .img1{
      height: auto;
      max-width: 200px;
      border-radius: 10px;
   
      
    }
    .img2{
      height: auto;
      max-width: 200px;
      border-radius: 10px;
    }  
  }
  @media (min-width: 400px) and (max-width: 1100px) {

      .img1{
        height: auto;
        max-width: 200px;
        border-radius: 10px;
     
        
      }
      .img2{
        height: auto;
        max-width: 200px;
        border-radius: 10px;
      }  
    }