.hero {
    padding: 200px 0;
    background: #050404;
    text-align: left;
    height: 400px;
    color: aliceblue;
    display: flex;
   padding-left: 10px;
   justify-content: space-between;
   align-items: center;
  }
  
  .hero h1{
    font-size: 15px;
    margin-bottom: 0px;
    font-weight: 150;
  }
  .hero h2{
    font-size: 30px;
    margin-top: 3px;
    margin-bottom: 0;
  }
  .hero p{
    margin-top: 5px;
  }

.image{
height: auto;

max-width: 100%;



}
@media (min-width: 10px) and (max-width: 450px) {
  .hero {
    padding: 200px 0;
    background: #050404;
    display: flex;
    flex-direction: column-reverse;
    height: 400px;
    color: aliceblue;

   padding-left: 10px;

   align-items: center;
   
  }
  .image{
    height: auto;
    
    max-width: 80%;
    margin-top: 150px;

    align-content: center;
    margin-left: 10px;

    
    
    
    }
  }